[Desktop Entry]
Encoding=UTF-8
Name=AutoFirma {{ autofirma_version_human }}
Name[es_ES]=AutoFirma {{ autofirma_version_human }}
Comment=Cliente @firma
Exec=/usr/bin/AutoFirma %u
Icon=/usr/lib/AutoFirma/AutoFirma.png
MimeType=x-scheme-handler/afirma;
Terminal=false
Type=Application
Categories=GNOME;Application;Office
StartupNotify=true
StartupWMClass=autofirma

